#global
.idea/
config.yaml
build/

# webclient
webclient/node_modules
webclient/build
webclient/coverage
webclient/.env
webclient/.env.*
webclient/.svelte-kit
webclient/.DS_Store
webclient/package

# server
server/simul-app
server/coverage.out