#global
.idea/
config.yaml
build/

# ui
webclient/node_modules
webclient/build
webclient/coverage
webclient/.env
webclient/.env.*
webclient/.svelte-kit
webclient/.DS_Store
webclient/package
webclient/coverage

# app
server/simul-app
server/coverage.out