@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300;600&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Serif', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}