.lobby-members{
  display:inline-grid;
  grid-template-columns: repeat(auto-fill, 10rem);
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.lobby-member{
  text-align: center;
}


.member-icon-box{
  margin: auto;
  height: 5rem;
  width: 5rem;
  position: relative;
  .host-status{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #1976d2;
    stroke: black;
    stroke-width: 5%;
  }
}

.lobby-name{
  user-select: none;
}

.member-text{
  text-transform: uppercase;
  font-family: monospace, monospace;
  user-select: none;
}

.subheader{
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  user-select: none;
  .playing-game{
    i{
      user-select: text;
    }
  }
}