.header-bar{
  height:4rem;
  display:flex;
  align-items: center;
  padding: 0 1rem;
  user-select: none;
}

.title{
  align-items: inherit;
  height: 100%;
  display: inherit;
  margin: auto;
  font-size: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-style: italic;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.logo{
  max-height: 90%;
  display: none;
}

.page-header{
  color:#e8e8ec;
  pointer-events: auto;
}

.App{
  pointer-events: none;
}

.space{
  pointer-events: auto;
  height: 1.5vh;
}