
.main-tab{
  display: grid;
  padding: 1rem;
  margin: 0 auto 0;
  width:30rem;
  max-width: 90vw;
  pointer-events: auto;
  .big-button{
    padding: 1rem;
    margin: 0 4rem;
  }
  .tiny-button{
    width: fit-content;
  }
  a{
    text-decoration: none;
    color: #1976d1;
  }
  .error-msg{
    color: #d74747;
    font: initial;
    font-size: small;
    margin: 0 0 1rem 0;
  }
  .MuiInputBase-input{
    margin: 0.1rem;
  }
  .MuiFormHelperText-contained{
    text-align: right;
  }
}

.main-tab-footer{
  width: auto;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.main-tab-text{
  line-break: strict;
  text-align: center;
  font-size: small;
}

.full-size{
  min-height: 78vh;
}