.player-list{
  list-style-type: none;
  padding: 0 1rem 0 1rem;
  display: grid;
  justify-content: safe center;
  position: relative;
}

.player-list-expanded{
  height: max-content;
  grid-template-columns: repeat(auto-fill, 20vh);
  grid-row-gap: 1rem;
}

.player-list-header{
  margin: auto;
  white-space: nowrap;
  scrollbar-color: grey transparent;
  scrollbar-width: thin;
  grid-auto-flow: column;
  overflow-x: auto;
  grid-gap: 0.5rem;
  padding-bottom: 0.5vh;
}



.board{
  display: grid;
  width: 100%;
  margin-inline: auto;
  box-sizing: border-box;
  color: #d3d6da;
  column-gap: 1%;
}

.small-tile{
  aspect-ratio: 1/1;
  position: relative;
  min-width: 50%;
  background-color: #cbced1;
  color: #cbced1;
  margin: 0.04rem 0.02rem;
  box-sizing: border-box;
}

.large-tile {
  aspect-ratio: 1/1;
  box-sizing: border-box;
  position: relative;
  margin: 0 0.05rem;
  min-width: 2rem;
  border-radius: .4rem;
  span {
    font-size: 2rem;
  }
}

.tile-text{
  position: absolute;
  font-weight: bold;
  user-select:none;
  margin: auto;
  height: min-content;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


@-webkit-keyframes -webkit-shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes color-flash-error {
  25%{
    opacity: 50%;
  }
  50%{
    opacity: 100%;
  }
  75%{
    opacity: 50%;
  }
}

@keyframes celebrate  {
  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes flip {
  from {
    transform: rotateX(180deg);
  }
}
@keyframes result-color {
  to{
    color: var(--color-to-transition-to);
    background-color: var(--bg-color-to-transition-to);
  }
}

.error-shake{
  -webkit-animation-name: -webkit-shake;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  animation: shake 0.5s;
}

span.error-shake{
  animation: color-flash-error 0.5s;
}

.celebrate{
  animation: celebrate 1s;
}



.tile-with-result{
  animation: result-color 0.4s forwards steps(1), flip 0.45s;
  --color-to-transition-to: white;
}

@keyframes inputted-letter {
  from {
    transform: scale(1.4);
  }
}

.inputted-letter{
  animation: inputted-letter 0.4s;
}

.no-letter {
  --bg-color-to-transition-to: #787c7e;
}

.has-letter {
  --bg-color-to-transition-to: #c9b458;
}

.has-letter-at-space {
  --bg-color-to-transition-to: #6aaa64;
}

.other-player{
  .result{
    flex: 1 1 100%;
    padding: 0.1rem;
  }
  .player-name{
    font-size: 150%;
  }
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
  padding: .5vh;
  flex: 0 0 4rem;
  font-family: monospace, monospace;
  user-select:none;
  margin: 0.1rem 0.5rem auto;
}


.other-player-minimized{
  width: 9.5vh;
  font-size: 0.5rem;
}

@media only screen and (min-width: 768px) and (min-height: 1080px) {
  .other-player-minimized{
    font-size: 1rem;
  }
}


.other-player-expanded{
  max-width: 40vw;
  min-height: 10rem;
  width:80%;
  font-size: 1.2rem;
}

.other-player-minimized:first-of-type{
  margin-left: 0;
}
.other-player-minimized:last-of-type{
  margin-right: 0;
}

.game-view{
  display: flex;
  box-sizing: border-box;
  flex: 1 1 100%;
  height: 45vh;
  margin-bottom: auto;
}

.game-keyboard{
  display: grid;
  align-items: center;
  margin:auto;
  height: 11rem;
  max-height:23vh;
  width:30rem;
  max-width: 96vw;
  pointer-events: auto;
  .row{
    display: flex;
    margin: 0 auto 0.25rem;
    width: 100%;
    .MuiButton-outlinedPrimary{
      min-width: 1rem;
      display: inline-flex;
      padding: 0;
      align-items : center;
      font-size: 2rem;
      overflow: hidden;
      flex:1;
      font-weight: bold;
      cursor: pointer;
      margin: 0 0.3rem 0 0;
      height: 3rem;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    button:last-of-type{
      margin: 0;
    }
    .three-quarter-button{
      flex:0.75;
      max-height: 3rem;
    }
    .enter-button{
      flex:1.25 1.25 auto;
      max-height: 3rem;
      padding:0;
      min-width: 0;
      color: white;
    }
  }
}

.pop-down{
  position: absolute;
  top:0;
  div{
    padding: 1rem;
  }
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  width: fit-content;
  user-select: none;
}